<!-- IDENTICAL TO INDEX.HTML -->

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <section>
        <button id="namesButton">Get Names!</button>
        <p> Names: <span id="names"></span></p>
    </section>
    <script src="jquery-3.3.1.js"></script>
    <script src="interface.js"></script>
  </body>
</html>
